<div role="article" class="teaser teaser-topic teaser--stream" style="display: flex; align-items: flex-start; overflow-y: hidden;">
  <div class="teaser__image">
    <a href="{{ url }}" target="_blank">
      {{ drupal_image(image, 'social_x_large', { alt: 'Article thumbnail'|t }) }}
    </a>
  </div>
  <div class="teaser__body" style="flex: 1; padding: 10px;">
    <div class="teaser__content">
      <div class="teaser__tag" style="text-transform: uppercase;">{{ providerName }}</div>
      <h4 class="teaser__title"><a href="{{ url }}" rel="bookmark" target="_blank"><span>{{ title }}</span></a></h4>
      <div class="teaser__content-line">
        <div class="teaser__content-text" style="white-space:normal;">{{ description }}</div>
      </div>
    </div>
  </div>
</div>
